@import url("https://fonts.googleapis.com/css?family=Marcellus:400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Mulish:400,600,700,800&display=swap");
html {
  font-size: 10px;
}

body {
  background-color: #000;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2rem;
  font-family: 'Mulish', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 160rem;
  padding: 2rem;
  margin: 0 auto;
}

.nav {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 36.6rem;
  padding-right: 32rem;
}

.nav-item {
  margin: 0 1.5rem;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  opacity: 0.5;
}

.nav-link::after {
  content: '';
  opacity: 0;
  width: 100%;
  height: 0.2rem;
  display: block;
  margin-top: 0.5rem;
  border-radius: 5rem;
  background: #326cff;
  background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
}

.nav-link.active {
  color: #fff;
  text-decoration: none;
  opacity: 1;
  font-weight: 800;
}

.nav-link.active::after {
  opacity: 1;
}

.nav-link {
  transition: opacity .3s linear;
}

.nav-link:hover {
  text-shadow: 0 0 0.9px #fff, 0 0 0.9px #fff;
  opacity: 1;
}

.nav-link:hover::after {
  opacity: 1;
}

.control {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.control-item {
  margin-left: 7.5rem;
}

.control-btn {
  display: block;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
}

.control-btn__search {
  background-image: url(../img/icons/search.svg);
  width: 2rem;
  height: 2rem;
  transition: 0.3s ease;
}

.control-btn__search:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.control-btn__notice {
  background-image: url(../img/icons/notice.svg);
  width: 2rem;
  height: 2rem;
  transition: 0.3s ease;
}

.control-btn__notice:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.control-btn__account {
  background-image: url(../img/icons/account.svg);
  width: 2rem;
  height: 2rem;
  transition: 0.3s ease;
}

.control-btn__account:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.section-banner {
  border-bottom: 0.1rem solid #2F2E2E;
  position: relative;
  overflow: hidden;
}

.section-banner__image {
  position: absolute;
  right: 0;
  padding-right: 5rem;
  z-index: -1;
  height: 100%;
}

.container-banner {
  max-width: 144rem;
  padding: 0 1.5rem;
  margin: 0 auto;
  margin-top: -5.6rem;
}

.container {
  max-width: 144rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.banner {
  box-shadow: 18rem 0rem 10rem #000;
  max-width: 56.2rem;
  height: 100%;
  background-color: #000;
}

.banner__title {
  font-family: 'Marcellus', serif;
  font-weight: 400;
  font-size: 8rem;
  line-height: 7rem;
  padding-top: 12.1rem;
}

.banner__text {
  color: #C2C2C2;
  font-size: 1.8rem;
  line-height: 2.8rem;
  margin-bottom: 3.5rem;
}

.banner-info {
  line-height: 1rem;
  font-weight: 800;
  margin-bottom: 3.2rem;
  margin-top: 3.9rem;
}

.banner-info__year {
  margin-right: 1.8rem;
}

.banner-info__age {
  margin-right: 1.8rem;
  line-height: 1.2rem;
  position: relative;
  display: inline-block;
  text-align: center;
  width: 6rem;
}

.banner-info__age::before {
  content: '';
  display: block;
  width: 100%;
  height: 2.4rem;
  background-image: url(../img/icons/border.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: calc(50% - 1.2rem);
  left: 0;
  right: 0;
}

.banner-info__time {
  margin-right: 4.1rem;
}

.banner-info__rating {
  position: relative;
}

.banner-info__rating::after {
  content: '';
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  background-image: url(../img/icons/star.svg);
  margin-left: 1rem;
  position: absolute;
  top: calc(50% - .8rem);
  right: -2.6rem;
}

.banner-control__btn {
  background-color: transparent;
  border: none;
  border-radius: 10rem;
  padding: 1.5rem 3rem;
  font-family: 'Mulish', sans-serif;
  font-weight: 800;
  margin-bottom: 20.4rem;
  display: inline-block;
}

.banner-control__btn:hover, .banner-control__btn :focus {
  cursor: pointer;
  outline: none;
}

.banner-control__btn-main {
  background: #326cff;
  background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
  color: #fff;
  position: relative;
  padding-left: 6rem;
  margin-right: 3rem;
  transition: 0.5s ease;
}

.banner-control__btn-main::after {
  content: '';
  display: block;
  width: 1.4rem;
  height: 1.8rem;
  background-image: url(../img/icons/play.svg);
  position: absolute;
  left: 3rem;
  top: calc(50% - 0.9rem);
}

.banner-control__btn-main:hover {
  background: linear-gradient(109.31deg, #B936FF 2.4%, #57DEDA 100%);
  box-shadow: 0rem 0rem 5rem #a201b180;
  transform: scale(1.2);
}

.banner-control__btn-more {
  background: linear-gradient(109.93deg, #fafafa 2.37%, #ffffff 50%);
  color: #323232;
  transition: 0.5s ease;
}

.banner-control__btn-more:hover {
  transform: scale(1.2);
  box-shadow: 0rem 0rem 5rem #e7d10880;
  background: linear-gradient(109.93deg, #FFF77B 2.37%, #FFBF42 50%);
}

.section-shows {
  padding-top: 6.2rem;
}

.section-shows__h2 {
  font-size: 2.8rem;
  line-height: 2rem;
  position: relative;
  padding-left: 2rem;
  padding-right: 3rem;
  display: inline-block;
  transition: 0.3s ease;
}

.section-shows__h2::before {
  content: '';
  width: .8rem;
  height: 3.5rem;
  display: block;
  border-radius: 5rem;
  background: #326cff;
  background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
  position: absolute;
  left: 0;
  top: calc(50% - 1.75rem);
}

.section-shows__h2::after {
  content: '';
  width: 1.4rem;
  height: 1.8rem;
  display: block;
  background-image: url(../img/icons/play.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 0;
  top: calc(50% - 0.7rem);
}

.section-shows__h2-link {
  color: #fff;
  text-decoration: none;
}

.section-shows__h2:hover {
  transform: scale(1.05);
}

.shows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.5rem;
}

.shows__link {
  display: block;
  transition: 0.2s ease filter;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 30.9rem;
  border-radius: 2rem;
}

.shows__link:hover {
  filter: drop-shadow(0rem 0rem 2rem rgba(44, 176, 249, 0.5));
}

.shows__img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.shows-item {
  flex: 0 0 14%;
}

.section-movies {
  padding-top: 6.2rem;
}

.section-movies__h2 {
  font-size: 2.8rem;
  line-height: 2rem;
  position: relative;
  padding-left: 2rem;
  padding-right: 3rem;
  display: inline-block;
  transition: 0.3s ease;
}

.section-movies__h2::before {
  content: '';
  width: .8rem;
  height: 3.5rem;
  display: block;
  border-radius: 5rem;
  background: #326cff;
  background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
  position: absolute;
  left: 0;
  top: calc(50% - 1.75rem);
}

.section-movies__h2::after {
  content: '';
  width: 1.4rem;
  height: 1.8rem;
  display: block;
  background-image: url(../img/icons/play.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 0;
  top: calc(50% - 0.7rem);
}

.section-movies__h2-link {
  color: #fff;
  text-decoration: none;
}

.section-movies__h2:hover {
  transform: scale(1.05);
}

.section-movies__btn {
  margin-top: 7rem;
  background: #326cff;
  background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
  color: #fff;
  position: relative;
  transition: 0.5s ease;
  border: none;
  border-radius: 10rem;
  padding: 1.5rem 3.4rem;
  font-family: 'Mulish', sans-serif;
  font-weight: 800;
  margin-bottom: 10rem;
  display: inline-block;
}

.section-movies__btn:hover {
  background: linear-gradient(109.31deg, #4a36ff 5.4%, #de5c57 100%);
  box-shadow: 0rem 0rem 5rem #b1010180;
  transform: scale(1.2);
  cursor: pointer;
}

.movies {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3rem;
}

.movies__link {
  display: block;
  transition: 0.2s ease filter;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 30.9rem;
  border-radius: 2rem;
}

.movies__link:hover {
  filter: drop-shadow(0rem 0rem 3rem rgba(75, 44, 249, 0.5));
}

.movies__img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.movies-item {
  flex: 0 0 14%;
}

.section-genres__h2 {
  font-size: 2.8rem;
  line-height: 2rem;
  position: relative;
  padding-left: 2rem;
  padding-right: 3rem;
  display: inline-block;
  transition: 0.3s ease;
}

.section-genres__h2::before {
  content: '';
  width: .8rem;
  height: 3.5rem;
  display: block;
  border-radius: 5rem;
  background: #326cff;
  background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
  position: absolute;
  left: 0;
  top: calc(50% - 1.75rem);
}

.section-genres__h2::after {
  content: '';
  width: 1.4rem;
  height: 1.8rem;
  display: block;
  background-image: url(../img/icons/play.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 0;
  top: calc(50% - 0.7rem);
}

.section-genres__h2-link {
  color: #fff;
  text-decoration: none;
}

.section-genres__h2:hover {
  transform: scale(1.05);
}

.genres {
  padding-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

.genres a {
  text-decoration: none;
}

.genres-icon {
  height: 8rem;
  position: relative;
  overflow: hidden;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  display: block;
}

.genres__image {
  display: inline-block;
  position: absolute;
}

.genres__title {
  font-size: 2.8rem;
  line-height: 2rem;
  color: #fff;
  margin: 0.8rem 0 0 0;
}

.genres-item {
  margin-top: 2rem;
  flex: 0 0 23.7%;
  border-radius: 2rem;
  padding: 4.8rem 1rem 3.8rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
  transition: 0.3s ease;
}

.genres-item:hover {
  transform: scale(1.1);
}

.genres-item_romance {
  background: linear-gradient(109.31deg, #FD093F 2.4%, #F383F1 100%);
}

.genres-item_drama {
  background: linear-gradient(114.5deg, #0FFFDA 2.22%, #3CDB77 68.84%);
}

.genres-item_historical {
  background: linear-gradient(109.31deg, #B936FF 2.4%, #57DEDA 100%);
}

.genres-item_action {
  background: linear-gradient(109.31deg, #FD093F 2.4%, #FB1378 2.41%, #FCCB1A 100%);
}

.genres-item_sci-fi {
  background: linear-gradient(109.31deg, #FF6472 2.4%, #FDA75D 100%);
}

.genres-item_sci-fi-n {
  height: 8rem;
}

.genres-item_horror {
  background: linear-gradient(110.16deg, #13547A 2.37%, #80D0C7 96.77%);
}

.genres-item_comedy {
  background: linear-gradient(109.93deg, #FFF77B 2.37%, #FFBF42 50%);
}

.genres-item_doc {
  background: linear-gradient(109.31deg, #1FA2FF 2.4%, #1FA2FF 2.41%, #1F535C 97.46%);
}

.section-actors {
  padding-top: 7.8rem;
}

.section-actors__h2 {
  font-size: 2.8rem;
  line-height: 2rem;
  position: relative;
  padding-left: 2rem;
  padding-right: 3rem;
  display: inline-block;
  transition: 0.3s ease;
}

.section-actors__h2::before {
  content: '';
  width: .8rem;
  height: 3.5rem;
  display: block;
  border-radius: 5rem;
  background: #326cff;
  background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
  position: absolute;
  left: 0;
  top: calc(50% - 1.75rem);
}

.section-actors__h2::after {
  content: '';
  width: 1.4rem;
  height: 1.8rem;
  display: block;
  background-image: url(../img/icons/play.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 0;
  top: calc(50% - 0.7rem);
}

.section-actors__h2-link {
  color: #fff;
  text-decoration: none;
}

.section-actors__h2:hover {
  transform: scale(1.05);
}

.actors {
  padding-top: 4.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.actors-item {
  padding-top: 3.5rem;
  flex: 0 0 14%;
  opacity: 0.6;
  transition: 0.3s ease;
}

.actors-item:hover {
  opacity: 1;
  transform: scale(1.1);
}

.actors__img {
  object-fit: cover;
  width: 19rem;
  height: 19rem;
  border-radius: 100%;
  display: block;
  margin-right: 3rem;
  margin-left: 3rem;
}

.actors__link {
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
  line-height: 2rem;
}

.marketing {
  padding-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.marketing-item {
  flex: 0 0 50%;
  transition: 0.3s ease;
  border-radius: 2rem;
}

.marketing-item:hover {
  opacity: 1;
}

.marketing__img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.marketing__link {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 34.1rem;
  display: block;
}

.section-offers {
  padding: 12.1rem 0;
}

.offer {
  max-width: 124.4rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url(../img/bg_ft.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2rem;
}

.offer__title {
  font-size: 6.4rem;
  line-height: 100%;
  max-width: 80rem;
  margin: 0;
  padding: 7.1rem 0rem 7.1rem 5.7rem;
}

.offer__btn {
  background: #326cff;
  background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
  color: #fff;
  margin-right: 13rem;
  transition: 0.5s ease;
  border: none;
  border-radius: 10rem;
  padding: 1.5rem 3rem;
  font-family: 'Mulish', sans-serif;
  font-weight: 800;
  font-size: 2.2rem;
}

.offer__btn:hover {
  background: linear-gradient(109.31deg, #ff36de 5.4%, #da9517 100%);
  box-shadow: 0rem 0rem 5rem #e203ff80;
  transform: scale(1.2);
  cursor: pointer;
}

footer {
  background-color: #101012;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  max-width: 144rem;
  padding: 1.5rem;
  margin: 0 auto;
}

.footer-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.footer-list__link {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2rem;
  color: #C2C2C2;
  text-decoration: none;
  padding-top: 0;
}

.footer-list__link:hover {
  text-decoration: underline;
}

.footer-list__item {
  margin-bottom: 1.5rem;
}
