//================== Шаблоны цветов ======================================================================================================================================
$dark: #000;
$white: #fff;
$gray: #C2C2C2;
$sdark: #323232;
$fdark: #101012;
$border: #2F2E2E;
//*========================================================================================================================================================
//?========================================================================================================================================================
//==================== Шаблоны градиентов====================================================================================================================================
$sgradient: rgba(50, 108, 255, 1);
$gradient: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
$n-gradient: linear-gradient(316.53deg, #326CFF 13.2%, #26FFF2 71.54%);
$genre_01: linear-gradient(109.31deg, #FD093F 2.4%, #F383F1 100%);
$genre_02: linear-gradient(114.5deg, #0FFFDA 2.22%, #3CDB77 68.84%);
$genre_03: linear-gradient(109.31deg, #B936FF 2.4%, #57DEDA 100%);
$genre_04: linear-gradient(109.31deg, #FD093F 2.4%, #FB1378 2.41%, #FCCB1A 100%);
$genre_05: linear-gradient(109.31deg, #FF6472 2.4%, #FDA75D 100%);
$genre_06: linear-gradient(110.16deg, #13547A 2.37%, #80D0C7 96.77%);
$genre_07: linear-gradient(109.93deg, #FFF77B 2.37%, #FFBF42 50%);
$genre_08: linear-gradient(109.31deg, #1FA2FF 2.4%, #1FA2FF 2.41%, #1F535C 97.46%);
//*========================================================================================================================================================
//?========================================================================================================================================================
//================== Шрифты ======================================================================================================================================
@import url("https://fonts.googleapis.com/css?family=Marcellus:400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Mulish:400,600,700,800&display=swap");
// font-family: 'Marcellus', serif;
//*========================================================================================================================================================
//?========================================================================================================================================================
//====================== Контейнер, который включает в себя содержимое всей страницы ==================================================================================================================================
html {
    // Размер шрифта.
    font-size: 10px;
}
//*========================================================================================================================================================
//?========================================================================================================================================================
//!======= Видимая часть сайта=================================================================================================================================================
// Видимая часть страницы.
body{
    // Цвет фона по умолчанию для видимой части сайта.
    background-color: $dark;
    // Цвет текста по умолчанию для видимой части сайта.
    color: $white;
    // Размер шрифта по умолчанию для видимой части сайта.
    font-size: 1.6rem;
    // Ширина шрифта по умолчанию для видимой части сайта
    font-weight: 700;
    // Межстрочный интервал по умолчанию для видимой части сайта.
    line-height: 2rem;
    // Семейство шрифта по умолчанию для видимой части сайта.
    font-family: 'Mulish', sans-serif;
}
//*========================================================================================================================================================
//?========================================================================================================================================================
//TODO======== Шапка сайта =============================================================================================================================================
// Контейнер для меню навигации
.header{
    // Выстраивание элементов согласно флекс модели, при этом преобразовав их в блочные. 
    display: flex;
    // Распределение элементов равномерно по содержимому контейнера. Первый и последний элемент прилипают к краю контейнера
    justify-content: space-between;
    // Выравнивание элементов по центру
    align-items: center;
    // Максимальная ширина контейнера
    max-width: 160rem;
    // Внутренний отступ
    padding: 2rem;
    // Выравнивание по центру
    margin: 0 auto;
}
//*========================================================================================================================================================
//?========================================================================================================================================================
// Главный контейнер сайта
.container{
    max-width: 144rem;
    padding: 0 1.5rem;
    margin: 0 auto;

}
//============ Меню навигации ============================================================================================================================================
// Контейнер для списка
.nav{
    // Выстраивание элементов согласно флекс модели, при этом преобразовав их в блочные. 
    display: flex;
    // Выравнивание элементов по центру
    align-items: center;
    // Обнуление стандартных точек у списка
    list-style: none;
    // Внутренний отступ слева
    padding-left: 36.6rem;
    // Внутренний отступ справа
    padding-right: 32rem;
    // Обращение к элементу списка
    &-item{
        // Внешний отступ 30px. (По 15px слева и справа, тем самым центруя элементы)
        margin: 0 1.5rem;
    }
    // Обращение к ссылкам внутри списка
    &-link{
        // Цвет текста
        color: $white;
        // Обнуление нижнего подчёркивания
        text-decoration: none;
        // Прозрачность 50%
        opacity: 0.5;
        // Псевдо-элемент "После", вставляет содержимое после элемента
        &::after{
            // Обязательная часть псевдо-элемента
            content: '';
            // Прозрачность 100%
            opacity: 0;
            // Ширина 100%, занимает всю площадь родителя
            width: 100%;
            // Высота (Толщина линии)
            height: 0.2rem;
            // Элемент становится блочным и видимым
            display: block;
            // Внешний отступ сверху
            margin-top: 0.5rem;
            // Сглаживание углов
            border-radius: 5rem;
            // Безопасный цвет заливки
            background: $sgradient;
            // Основной цвет заливки
            background: $gradient;
        }
        // Обращение к основному активному элементу (Вкладке)
        &.active{
            // Цвет текста
            color: $white;
            // Обнуление нижнего подчёркивания
            text-decoration: none;
            // Непрозрачность 100%
            opacity: 1;
            // Ширина шрифта
            font-weight: 800;
            // Псевдо-элемент "После", вставляет содержимое после элемента
            &::after{
                // Обязательная часть псевдо-элемента
                content: '';
                // Непрозрачность 100%
                opacity: 1;
            }
        }
    }
    // Обращение к ссылкам
    &-link{
        // Плавность анимации
        transition: .3s;
        // Эффект наведения
        &:hover{
            // Накладывание белой тени
            text-shadow: 0 0 .9px $white, 0 0 .9px $white;
            // Непрозрачность 100%
            opacity: 1;
        }
        // Эффект наведения для псевдо-элемента "После"
        &:hover::after{
            // Непрозрачность 100%
            opacity: 1;     

        }
    }
}
//*========================================================================================================================================================
//?========================================================================================================================================================
//========= Кнопки внутри навигации ===============================================================================================================================================
// Контейнер для кнопок
.control{
    // Обнуление точек у списка
    list-style-type: none;
    // Выстраивание элементов согласно флекс модели, при этом преобразовав их в блочные. 
    display: flex;
    // Выравнивание элементов по центру
    align-items: center;
    // Обращение к контейнерам иконок
    &-item{
        // Внешний отступ слева и справа
        margin: 0 3.75rem;
        }
    // Обращение к кнопкам
    &-btn{
        // Элементы становятся блочными и видимыми.
        display: block;
        // Обнуление стандартного фона
        background-color: transparent;
        // Обнуление рамки
        border: none;
        // Обнуление повторения иконок
        background-repeat: no-repeat;
        // Иконка поиска
        &__search{
            // Подгрузка иконки 
            background-image: url(../img/icons/search.svg);
            // Ширина
            width: 2rem;
            // Высота
            height: 2rem;
            // Плавность анимации
            transition: 0.3s ease;
            // Эффект при наведении, фокусе
            &:hover,&:focus{
                // Курсор становится ручкой
                cursor: pointer;
                // Визуальное увеличение элемента
                transform: scale(1.2);
            }
        }
        // Иконка уведомлений
        &__notice{
            // Подгрузка иконки
            background-image: url(../img/icons/notice.svg);
            // Ширина
            width: 2rem;
            // Высота
            height: 2rem;
            // Плавность анимации
            transition: 0.3s ease;
            // Эффект наведения
            &:hover{
                // Курсор становится ручкой
                cursor: pointer;
                // Визуальное увеличение элемента
                transform: scale(1.2);
            }
        }
        // Иконка регистрации
        &__account{
            // Подгрузка иконки
            background-image: url(../img/icons/account.svg);
            // Ширина
            width: 2rem;
            // Высота
            height: 2rem;
            // Плавность анимации
            transition: 0.3s ease;
            // Эффект наведения
            &:hover{
                // Курсор становится ручкой
                cursor: pointer;
                // Визуальное увелечение элемента
                transform: scale(1.2);
            }
        }
    }
}
//*========================================================================================================================================================
//TODO========================================================================================================================================================
//?========================================================================================================================================================
//TODO======== Основное содержимое ================================================================================================================================================
//============= Секция баннера (Верхний баннер сайта) ==========================================================================================================================================
// Обращение к контейнеру секции
.section-banner{
    // Нижнее подчёркивание (Рамка)
    border-bottom: 0.1rem solid $border;
    // Позиция родителя
    position: relative;
    // Обрезание лишнего у картинки
    overflow: hidden;
    // Обращение к изображению
    &__image{
        // Позиционирование относительно родителя
        position: absolute;
        // Выравнивание по правой стороне
        right: 0;
        // Внутренний отступ справа
        padding-right: 5rem;
        // Отрицательный z-index позволяет поместить элемент под другой
        z-index: -1;
        // Высота
        height: 100%;
    }
}
// Ограничивающий контейнер описания баннера
.container-banner{
    // Максимальная высота
    max-width: 144rem;
    // Внутренний отступ слева и справа
    padding: 0 1.5rem;
    // Выравнивание по центру
    margin: 0 auto;
    // Выравнивание контейнера по макету
    margin-top: -5.6rem;
}
// Контейнер описания баннера
.banner{
    // Тень
    box-shadow: 18rem 0rem 10rem $dark;
    // Максимальная ширина
    max-width: 56.2rem;
    // Высота
    height: 100%;
    // Цвет фона
    background-color: $dark;
    // Обращение к заголовку
    &__title{
        // Установка семейства шрифта
        font-family: 'Marcellus', serif;
        // Ширина шрифта
        font-weight: 400;
        // Размер шрифта
        font-size: 8rem;
        // Межстрочный интервал
        line-height: 7rem;
        // Внутренний отступ сверху
        padding-top: 12.1rem;
    }
    // Обращение к тексту
    &__text{
        // Цвет текста
        color: $gray;
        // Размер шрифта
        font-size: 1.8rem;
        // Межстрочный интервал
        line-height: 2.8rem;
        // Внешний отступ снизу (Отталкивание от себя элемента в низ)
        margin-bottom: 3.5rem;
    }
    // Обращение к блоку информации
    &-info{
        // Межстрочный интервал
        line-height: 1rem;
        // Ширина шрифта
        font-weight: 800;
        // Внешний отступ снизу
        margin-bottom: 3.2rem;
        // Внешний отступ сверху
        margin-top: 3.9rem;
            // Обращение к тегу года
            &__year{
            // Внешний отступ справа (толчок)
            margin-right: 1.8rem;
            }
            // Обращение к тегу возраста
            &__age{
            // Внешний отступ справа
            margin-right: 1.8rem;
            // Межстрочный интервал
            line-height: 1.2rem;
            // Позиция родителя
            position: relative;
            // Элемент становится блочным, сохраняя свойства строчного элемента
            display: inline-block;
            // Выравнивание текста по центру
            text-align: center;
            // Ширина
            width: 6rem;
            // Псевдо-элемент "Перед"
            &::before{
                // Обязательная часть для псевдо-элемента
                content: '';
                // Элемент становится блочным
                display: block;
                // Ширина (100% - ширина родителя)
                width: 100%;
                // Высота
                height: 2.4rem;
                // Подгрузка иконки (рамки)
                background-image: url(../img/icons/border.svg);
                // Повторение иконки
                background-repeat: no-repeat;
                // Размер иконки
                background-size: cover;
                // Позиционирование относительно родителя
                position: absolute;
                // Позиционирование по середине (50% - половина высоты элемента)
                top: calc(50% - 1.2rem);
                // Выравнивание по левому краю
                left: 0;
                // Выравнивание по правому краю
                right: 0;
            }
        }
        // Обращение к тегу времени
        &__time{
            // Внешний отступ справа
            margin-right: 4.1rem;
        }
        // Обращение к тегу рейтинга
        &__rating{
            // Элемент становится родителем
            position: relative;
            // Псевдо-элемент "После"
            &::after{
                // Обязательная часть для псевдо-элементов
                content: '';
                // Элемент становится блочным и видимым
                display: block;
                // Ширина
                width: 1.6rem;
                // Высота
                height: 1.6rem;
                // Подгрузка иконки
                background-image: url(../img/icons/star.svg);
                // Внешний отступ слева
                margin-left: 1rem;
                // Позиционирование относительно родителя
                position: absolute;
                // Выравнивание по вертикали (50% - половина высоты элемента)
                top: calc(50% - .8rem);
                // Выравнивание по горизонтали
                right: -2.6rem;
            }
        }
    }
    // Контейнер для кнопок
    &-control{
        // Обращение к кнопкам
        &__btn{
            // Обнуление фона
            background-color: transparent;
            // Обнуление рамки
            border: none;
            // Сглаживание углов
            border-radius: 10rem;
            // Внутренний отступ по вертикали и горизонтали
            padding: 1.5rem 3rem;
            // Установка семества шрифта принудительно (Иногда на кнопках не работает)
            font-family: 'Mulish', sans-serif;
            // Ширина шрифта
            font-weight: 800;
            // Внешний отступ снизу
            margin-bottom: 20.4rem;
            // Элемент становится блочным сохраняя свойства строчного элемента
            display: inline-block;
            // Эффект при наведении
            &:hover{
                // Курсор становится ручкой
                cursor: pointer;
            }
        }
        // Обращение к кнопке просмотра
        &__btn-main{
            // Безопасный фон
            background: $sgradient;
            // Фон
            background: $gradient;
            // Цвет текста
            color: $white;
            // Элемент стаонвится родителем
            position: relative;
            // Внутренний отступ слева
            padding-left: 6rem;
            // Внешний отступ справа
            margin-right: 3rem;
            // Плавность анимации
            transition: 0.5s ease;
            // Псевдо-элемент перед
            &::after{
                // Обязательное свойство для псведо-элемента
                content: '';
                // Элемент становится блочным и видимым
                display: block;
                // Ширина
                width: 1.4rem;
                // Высота
                height: 1.8rem;
                // Подгрузка иконки
                background-image: url(../img/icons/play.svg);
                // Позиционирование относительно родителя
                position: absolute;
                // Выравнивание по горизонтали
                left: 3rem;
                // Выравнивание по вертикали (50% - половина ширины элемента)
                top: calc(50% - 0.9rem);
            }
            // Эффект при наведении
            &:hover{
            // Фон
            background: linear-gradient(109.31deg, #B936FF 2.4%, #57DEDA 100%);
            // Внешняя тень
            box-shadow: 0rem 0rem 5rem #a201b180;
            // Визуальное увелечение элемента
            transform: scale(1.2);
            }
        }
        // Обращение к кнопке информации
        &__btn-more{
            // Фон
            background: linear-gradient(109.93deg, #fafafa 2.37%, #ffffff 50%);
            // Цвет текста
            color:$sdark;
            // Плавность анимации
            transition: 0.5s ease;
            // Эффект наведения
            &:hover{
                // Визуальное увелечение элемента
                transform: scale(1.2);
                // Внешняя тень
                box-shadow: 0rem 0rem 5rem #e7d10880;
                // Цвет фона
                background: linear-gradient(109.93deg, #FFF77B 2.37%, #FFBF42 50%);
            }
        }
    }
}
//*========================================================================================================================================================
//?========================================================================================================================================================
//============= Секция популярных телевизионных шоу ===========================================================================================================================================
// Обращение к секции данного блока
.section-shows{
    // Внутренний отступ сверху
    padding-top: 6.2rem;
    // Заголовок
    &__h2{
        // Размер шрифта
        font-size: 2.8rem;
        // Элемент становится родителем
        position: relative;
        // Внутренний отступ слева
        padding-left: 2rem;
        // Внутренний отступ справа
        padding-right: 3rem;
        // Элемент становится блочным сохраняя свойства строчного элемента
        display: inline-block;
        // Плавность анимации
        transition: 0.3s ease;
        // Псведо-элемент "Перед"
        &::before{
            // Обязательное свойство псведо-элемента
            content: '';
            // Ширина
            width: .8rem;
            // Высота
            height: 3.5rem;
            // Элент становится блочным и видимым
            display: block;
            // Сглаживание углов
            border-radius: 5rem;
            // Безопасный фон
            background: $sgradient;
            // Основной фон
            background: $gradient;
            // Позиционирование относительно родителя
            position: absolute;
            // Выравнивание по левому краю
            left: 0;
            // Выравнивание по вертикали
            top: calc(50% - 1.75rem);
        }
        // Псевдо-элемент "После"
        &::after{
            // Обязательное свойство псевдо-элемента
            content: '';
            // Ширина
            width: 1.4rem;
            // Высота
            height: 1.8rem;
            // Элемент становится блочным и видимым
            display: block;
            // Подгрузка иконки
            background-image: url(../img/icons/play.svg);
            // Повторение иконки
            background-repeat: no-repeat;
            // Размер иконки 
            background-size: cover;
            // Позиционирование относительно родителя
            position: absolute;
            // Выравнивание по правому краю
            right: 0;
            // Выравнивание по вертикали (50% - половина высоты элемента)
            top: calc(50% - 0.7rem);
        }
        // Обращение к ссылке
        &-link{
            // Цвет текста
            color: $white;
            // Обнуление нижнего подчёркивания
            text-decoration: none;
        }
        // Эффект навдения
        &:hover{
            // Визуальное увеличение элемента
            transform: scale(1.05);
        }
    }
}
// Обращение к контейнеру телевизионных шоу
.shows{
    // Выравнивание элементов согласно флекс-модели
    display: flex;
    // Выравнивание элементов по центру
    align-items: center;
    // Распределение элементов по контейнеру равномерно (Позиционирование начинается от краёв контейнера)
    justify-content: space-between;
    // Внутренний отступ сверху
    padding-top: 2.5rem;
        // Обращение к ссылкам
        &__link{
            // Элемент становится блочным и видимым
            display: block;
            // Плавность анимации
            transition: 0.2s ease;
            // Элемент становится родителем
            position: relative;
            // Обрезание лишнего
            overflow: hidden;
            // Ширина 100% - расчитывается на основе родителя
            width: 100%;
            // Высота
            height: 30.9rem;
            // Сглаживание углов
            border-radius: 2rem;
                // Эффект при наведении
                &:hover{
                    // Внешняя тень
                    filter: drop-shadow(0rem 0rem 2rem rgba(44, 176, 249, 0.5));
                    // Визуальное увелечение элемента
                    transform: scale(1.1);
                }
            }
                // Обращение к картинке
                &__img{
                    // Позиционирование относительно родителя
                    position: absolute;
                    // Выравнивание по центру
                    left: 50%;
                    // Выравнивание по центру
                    top: 50%;
                    // Выравнивание по центру
                    transform: translate(-50%,-50%);
                    // Выравнивание по центру
                    object-fit: cover;
                }
        // Обращение к контейнеру картинок
        &-item{
        flex: 0 0 14%;
    }
}
//*========================================================================================================================================================
//?========================================================================================================================================================
//============== Секция фильмов ==========================================================================================================================================
// Обращение к секции фильмов
.section-movies{
    // Внутренний отступ сверху
    padding-top: 6.2rem;
    // Обращение к заголовку
    &__h2{
        // Размер шрифта
        font-size: 2.8rem;
        // Элемент становится родителем
        position: relative;
        // Внутренний отступ слева
        padding-left: 2rem;
        // Внутренний отступ справа
        padding-right: 3rem;
        // Элемент становится блочным сохраняя свойства строчного элемента
        display: inline-block;
        // Плавность анимации
        transition: 0.3s ease;
        // Псевдо-элемент "Перед"
        &::before{
            // Обязательная часть псведо-элемента
            content: '';
            // Ширина
            width: .8rem;
            // Высота
            height: 3.5rem;
            // Элемент становится блочным и видимым
            display: block;
            // Сглаживание углов
            border-radius: 5rem;
            // Безопасный фон
            background: $sgradient;
            // Основной фон
            background: $gradient;
            // Позиционирование относительно родителя
            position: absolute;
            // Выравнивание по левому краю
            left: 0;
            // Позиционирование по вертикали (50% - половина высоты элемента)
            top: calc(50% - 1.75rem);
        }
        // Псевдо-элемент "После"
        &::after{
            // Обязательная часть псевдо-элемента
            content: '';
            // Ширина
            width: 1.4rem;
            // Высота
            height: 1.8rem;
            // Элемент становится блочным и видимым
            display: block;
            // Подгрузка икноки
            background-image: url(../img/icons/play.svg);
            // Обнуление повторение фона
            background-repeat: no-repeat;
            // Размер
            background-size: cover;
            // Позиционирование относительно родителя
            position: absolute;
            // Выравнивание по правому краю
            right: 0;
            //Позиционирование по вертикали (50% - половина высоты элемента)
            top: calc(50% - 0.7rem);
        }
        // Обращение к ссылке
        &-link{
            // Цвет текста
            color: $white;
            // Обнуление нижнего подчёркивания
            text-decoration: none;
        }
        // Эффект наведения
        &:hover{
            // Визуальное увеличение элемента
            transform: scale(1.05);
        }
    }
    // Обращение к кнопке
    &__btn{
        // Внешний отступ сверху
        margin-top: 7rem;
        // Безопасный фон 
        background: $sgradient;
        // Фон
        background: $gradient;
        // Цвет текста
        color: $white;
        // Элемент становится родителем
        position: relative;
        // Плавность анимации
        transition: 0.5s ease;
        // Обнуление рамки
        border: none;
        // Сглаживание углов
        border-radius: 10rem;
        // Внутренний отступ по вертикали и горизонтали
        padding: 1.5rem 3.4rem;
        // Принудительное присваивание шрифтов (У кнопок иногда они не отображаются)
        font-family: 'Mulish', sans-serif;
        // Ширина шрифта
        font-weight: 800;
        // Внешний нижний отступ
        margin-bottom: 10rem;
        // Элемент становится блочным сохраняя свойства строчного элемента
        display: inline-block;
        // Эффект при наведении
        &:hover{
            // Фон 
            background: linear-gradient(109.31deg, #4a36ff 5.4%, #de5c57 100%);
            // Внешняя тень
            box-shadow: 0rem 0rem 5rem #b1010180;
            // Визуальное увелечение объекта
            transform: scale(1.2);
            // Курсор становится ручкой
            cursor: pointer;
        }
    }
}
// Обращение к контейнеру фильмов
.movies{
    // Элементы выстраиваются согласно флекс модели
    display: flex;
    // Выравнивание элементов по центру
    align-items: center;
    // Равномерное распределение элементов по контейнеру (Начинатеся от краёв контейнера)
    justify-content: space-between;
    // Внутренний отступ сверху
    padding-top: 3rem;
    // Обращение к ссылкам
        &__link{
        // Элемент становится блочным и видимым
        display: block;
        // Плавность анимации
        transition: 0.2s ease;
        // Элемент становится родителем
        position: relative;
        // Лишнее обрезается
        overflow: hidden;
        // Ширина 100% - расчитывается на основании родителя
        width: 100%;
        // Высота
        height: 30.9rem;
        // Сглаживание углов
        border-radius: 2rem;
            // Эффект при наведении
            &:hover{
                // Внешняя тень
                filter: drop-shadow(0rem 0rem 3rem rgba(75, 44, 249, 0.5));
                // Визуальное увелечение элемента
                transform: scale(1.1);
            }
        }
        // Обращение к картинкам
        &__img{
            // Позиционирование относительно родителя
            position: absolute;
            // Выравнивание по центру
            left: 50%;
            // Выравнивание по центру
            top: 50%;
            // Выравнивание по центру
            transform: translate(-50%,-50%);
            // Выравнивание по центру
            object-fit: cover;
            // Выравнивание по центру
        }
        // Обращение к контейнеру картинок
        &-item{
            // Ширина между элементами
            flex: 0 0 14%;
        }
    
}
//*========================================================================================================================================================
//?========================================================================================================================================================
//============= Секция жанров ===========================================================================================================================================
// Обращение к секции жанров
.section-genres{
    // Обращение к заголовку
    &__h2{
        // Размер шрифта
        font-size: 2.8rem;
        // Элемент становится родителем
        position: relative;
        // Внутренний отступ слева
        padding-left: 2rem;
        // Внутренний отступ справа
        padding-right: 3rem;
        // Элемент становится блочным сохраняя свойства строчного элемента
        display: inline-block;
        // Плавность анимации
        transition: 0.3s ease;
        // Псевдо элемент "Перед"
        &::before{
            // Обязательное свойство для псевдо-элемента
            content: '';
            // Ширина
            width: .8rem;
            // Высота
            height: 3.5rem;
            // Элемент становится блочным и видимым
            display: block;
            // Сглаживание углов
            border-radius: 5rem;
            // Безопасный фон
            background: $sgradient;
            // Основной фон
            background: $gradient;
            // Позиционирование относительно родителя
            position: absolute;
            // Выравнивание по левому краю
            left: 0;
            // Выравнивание по вертикали (50% - половина высоты элемента)
            top: calc(50% - 1.75rem);
        }
        // Псевдо элемент "После"
        &::after{
            // Обязательное свойство для псевдо элемента
            content: '';
            // Ширина
            width: 1.4rem;
            // Высота
            height: 1.8rem;
            // Элемент становится блочным и видимым
            display: block;
            // Подгрузка иконки
            background-image: url(../img/icons/play.svg);
            // Обнуление повторения иконок
            background-repeat: no-repeat;
            // Размер изображения
            background-size: cover;
            // Позиционирование относительно родителя
            position: absolute;
            // Выравнивание по правому краю
            right: 0;
            // Позиционирование по вертикали (50% - половина высоты элемента)
            top: calc(50% - 0.7rem);
        }
        // Обращение к ссылкам
        &-link{
            // Цвет текст
            color: $white;
            // Обнуление нижнего подчёркивания
            text-decoration: none;
        }
        // Эффект при наведении
        &:hover{
            // Визуальное увелечение элемента
            transform: scale(1.05);
        }
    }
}
// Обращение к контейнеру жанров
.genres{
    // Внутренний отступ сверху
    padding-top: 4rem;
    // Элементы выстариваются согласно флекс модели и становятся блочными
    display: flex;
    // Выравнивание элементов по центру
    align-items: center;
    // Равномерное распределение элементов (начинается от края контейнера)
    justify-content: space-between;
    // Разрешает перенос элементов на другую строку
    flex-wrap: wrap;
    // Выравнивание текста по центру
    text-align: center;
    // Обращение к ссылкам
    a{
        // Обнуление нижнего подчёркивания
        text-decoration: none;
    }
    // Обращение к иконам
    &-icon{
        // Высота
        height: 8rem;
        // Элемент становится родителем
        position: relative;
        // Лишнее обрезается
        overflow: hidden;
        // Выравнивание по центру
        left: 50%;
        // Выравнивание по центру
        top: 50%;
        // Выравнивание по центру
        transform: translate(-50%,-50%);
        // Выравнивание по центру
        object-fit: cover; 
        // Элемент становится блочным и видимым
        display: block;
    }
    // Обращение к заголовкам
    &__title{
        // Размер шрифта
        font-size: 2.8rem;
        // Цвет текста
        color: $white;
        // Внешний отступ сверху
        margin-top: 3rem;
    }
    // Обращение к контейнеру элементов
    &-item{
        // Внешний отступ сверху
        margin-top: 2rem;
        // Ширина между элементами
        flex: 0 0 23.7%;
        // Сглаживание углов
        border-radius: 2rem;
        // Внутренний отступ по вертикали слева и справа
        padding: 4.8rem 1rem 3.8rem;
        // Изменение модели расчета содержимого блока
        -webkit-box-sizing: border-box;
        // Изменение модели расчета содержимого блока
        box-sizing: border-box;
        // Внешний отступ снизу
        margin-bottom: 1rem;
        // Плавность анимации
        transition: 0.3s ease;
        // Эффект наведения
        &:hover{
            // Визуальное увеличение изображения
            transform: scale(1.1);
        }
        // Обращение к иконке 
        &_romance{
            // Установка фона
            background: $genre_01;
            
        }
        // Обращение к иконке 
        &_drama {
            // Установка фона
            background: $genre_02;
            }
        // Обращение к иконке 
        &_historical {
            // Установка фона
            background: $genre_03;
            }
        // Обращение к иконке 
        &_action {
            // Установка фона
            background: $genre_04;
            }
        // Обращение к иконке 
        &_sci-fi {
            // Установка фона
            background: $genre_05;
            // Обращение к картинке ракеты
            &-n{
                // Утановка максимальной высоты
                height: 8rem;
            }
            }
        // Обращение к иконке 
        &_horror {
            // Установка фона
            background: $genre_06;
            }
        // Обращение к иконке 
        &_comedy {
            // Установка фона
            background: $genre_07;
            }
        // Обращение к иконке 
        &_doc {
            // Установка фона
            background: $genre_08;
            }
    }
}
//*========================================================================================================================================================
//?========================================================================================================================================================
//=========== Секция актёров =============================================================================================================================================
// Обращение к секции актёров
.section-actors{
    // Внутренний отступ сверъу
    padding-top: 7.8rem;
    // Обращение к заголовку
    &__h2{
        // Размер шрифта
        font-size: 2.8rem;
        // Элемент становится родителем
        position: relative;
        // Внутренний отступ слева
        padding-left: 2rem;
        // Внутренний отступ справа
        padding-right: 3rem;
        // Элемент становится блочным сохраняя свойства строчного элемента
        display: inline-block;
        // Плавность анимации
        transition: 0.3s ease;
        // Псевдо элемент "Перед"
        &::before{
            // Обязательное свойство у псевдо-элемента
            content: '';
            // Ширина
            width: .8rem;
            // Высота
            height: 3.5rem;
            // Элемент становится блочным и видимым
            display: block;
            // Сглаживание углов
            border-radius: 5rem;
            // Безопасный фон
            background: $sgradient;
            // Основной фон
            background: $gradient;
            // Позиционирует относительно родителя
            position: absolute;
            // Выравнивание по левому краю
            left: 0;
            // Выравнивание по вертикали (50% - половина высоты элемента)
            top: calc(50% - 1.75rem);
        }
        // Псевдо-элемент "После"
        &::after{
            // Обязательное свойство для псевдо-элемента
            content: '';
            // Ширина
            width: 1.4rem;
            // Высота
            height: 1.8rem;
            // Элемент становится блочным и видимым
            display: block;
            // Подгрузка иконки
            background-image: url(../img/icons/play.svg);
            // Обнуление повторение иконок
            background-repeat: no-repeat;
            // Равномерно распределяет элементы по размеру родителя
            background-size: cover;
            // Позиниорует элемент относительно родителя
            position: absolute;
            // Выравнивание по правому краю
            right: 0;
            // Позиционирование элемента по вертикали (50% - половина высоты элемента)
            top: calc(50% - 0.7rem);
        }
        // Обращение к ссылкам
        &-link{
            // Цвет текста
            color: $white;
            // Обнуление нижнего подчёркивания
            text-decoration: none;
        }
        // Эффект наведения
        &:hover{
            // Визуальное увеличение элемента
            transform: scale(1.05);
        }
    }
}
// Обращение к контейнеру актёров
.actors{
    // Внутренний отступ сверху
    padding-top: 4.7rem;
    // Элементы выстраиваются согласно флекс модели и становятся блочными
    display: flex;
    // Выравнивание элементов по центру
    align-items: center;
    // Равномерное распределение элементов по контейнеру (Начинается с краёв контенера)
    justify-content: space-between;
    // Выравнивание текста по центру
    text-align: center;
    // Обращение к контенеру элемента
    &-item{
        // Внутренний отступ сверху
        padding-top: 3.5rem;
        // Ширина между элементами
        flex: 0 0 14%;
        // Прозрачность
        opacity: 0.6;
        // Плавность анимации
        transition: 0.3s ease;
        // Эффект наведения
        &:hover{
            // Прозрачность
            opacity: 1;
            // Визуальное увеличение элемента
            transform: scale(1.1);
        }
    }
    // Обращение к картинкам
    &__img{
        // Выравнивание по центру и заполнение простраства 
        object-fit: cover;
        // Ширина
        width: 19rem;
        // Высота
        height: 19rem;
        // Сглаживание углов
        border-radius: 100%;
        // Элемент становится блочным и видимым
        display: block;
        // Внешний отступ по горизонтали
        margin: 0 3rem;
    }
    // Обращение к ссылкам
    &__link{
        // Обнуление нижнего подчёркивания
        text-decoration: none;
        // Цвет текста белый
        color: $white;
        // Размер шрифта
        font-size: 1.8rem;
    }
}
//*========================================================================================================================================================
//?========================================================================================================================================================
//=============== Секция Баннеров =========================================================================================================================================
// Обращение к контейнеру двух баннеров
.marketing{
    // Внутренний отступ сверху
    padding-top: 10rem;
    // Элементы становятся блочными и выстраиваются согласно флекс модели
    display: flex;
    // Выравнивание элементов по центру
    align-items: center;
    // Равномерное распределение элементов по контейнеру (Первый и последний прилипают к краю контейнера)
    justify-content: space-between;
    // Выравнивание текста по центру
    text-align: center;
    // Обращение к контейнеру баннера
    &-item{
        // Ширина между элементами
        flex: 0 0 50%;
        // Сглаживание углов
        border-radius: 2rem;
    }
    // Обращение к картинкам
    &__img{
        // Позиционирование относительно родителя
        position: absolute;
        // Выравнивание по центру
        left: 50%;
         // Выравнивание по центру
        top: 50%;
         // Выравнивание по центру
        transform: translate(-50%,-50%);
         // Выравнивание по центру
        object-fit: cover;
    }
    // Обращение к ссылкам
    &__link{
        // Обрезает лишнее
        overflow: hidden;
        // Позиционирует относительно родителя
        position: relative;
        // Ширина 100% - расчитыватеся на основе родителя
        width: 100%;
        // Высота
        height: 34.1rem;
        // Элемент становится блочным и видимым
        display: block;
    }
}
//*========================================================================================================================================================
//?========================================================================================================================================================
//============ Секция предложений (Регистрация) ============================================================================================================================================
// Обращение к контейнеру секции
.section-offers{
    // Внутренний отступ сверху и снизу 
    padding: 12.1rem 0;
}
// Обращение к контейнеру текста
.offer{
    // Максимальная высота
    max-width: 124.4rem;
    // Выравнивание по центру
    margin: 0 auto;
    // Элементы выстраиваются в согласно флекс модели и становятся блочными
    display: flex;
    // Выравниваниет элементы по центру
    align-items: center;
    // Равномерно распределяет элементы по содержимому контейнера
    justify-content: space-between;
    // Подгрузка фона
    background-image: url(../img/bg_ft.png);
    // Обнуляет повторение фона
    background-repeat: no-repeat;
    // Растягивает фон по размерам родителя
    background-size: cover;
    // Сглаживание углов
    border-radius: 2rem;
    // Обращение к заголовку
    &__title{
        // Размер шрифта
        font-size: 6.4rem;
        // Межстрочный интервал
        line-height: 100%;
        // Максимальная ширина
        max-width: 80rem;
        // Обнуление внешних отступов
        margin: 0;
        // Внутренний отступ сверху, справа, снизу. слева
        padding: 7.1rem 0rem 7.1rem 5.7rem;
    }
    // Обращение к кнопкам
    &__btn{
        // Безопасный фон
        background: $sgradient;
        // Главный фон
        background: $gradient;
        // Цвет текста
        color: $white;
        // Внешний отступ справа
        margin-right: 13rem;
        // Плавность анимации
        transition: 0.5s ease;
        // Обнуление рамки
        border: none;
        // Сглаживание углов
        border-radius: 10rem;
        // Внутренний отступ по вертикали и по горизонтали
        padding: 1.5rem 3rem;
        // Принидутельная установка семества шрифта
        font-family: 'Mulish', sans-serif;
        // Ширина шрифта
        font-weight: 800;
        // Размер шрифта
        font-size: 2.2rem;
        // Эффект наведения
        &:hover{
        // Градиентная заливка фона
        background: linear-gradient(109.31deg, #ff36de 5.4%, #da9517 100%);
        // Тень
        box-shadow: 0rem 0rem 5rem #e203ff80;
        // Визуальное увеличение элемента
        transform: scale(1.2);
        // Курсор становится ручкой
        cursor: pointer;
        }
    }
}
//*========================================================================================================================================================
//TODO========================================================================================================================================================
//?========================================================================================================================================================
//TODO======== Подвал ================================================================================================================================================
//============ Секция подвала ==========================================================================================================================================
// Обращение к подвалу
footer{
    // Фон
    background-color: #101012;;
    // Внутренний отступ сверху
    padding-top: 5rem;
    // Внутренний отступ снизу
    padding-bottom: 1.5rem;
}
// Обращение к контейнеру подвала
.footer {
    // Делает элементы блочными и выравнивает согласно флекс-модели
    display: flex;
    // Равномерно распределяет элементы по контейнеру
    justify-content: space-between;
    // Максимальная ширина
    max-width: 144rem;
    // Внутренний отступ
    padding: 1.5rem;
    // Выравнивание по центру
    margin: 0 auto;
    // Обращение к списку
    &-list{
        // Обнуление точек
        list-style: none;
        // Внутренний отступ слева
        padding-left: 0;
        // Обнуление внешних отступов
        margin: 0;
        // Обращение к ссылкам
        &__link {
        // Ширина шрифта
        font-weight: 600;
        // Размер шрифта
        font-size: 1.8rem;
        // Цвет текста
        color: $gray;
        // Обнуление нижнего подчёркивания
        text-decoration: none;
        // Внутренний отступ сверху
        padding-top: 0;
        // Эффект наведения
        &:hover{
            // Подчёркивание снизу
            text-decoration: underline;
            }
        }
        // Обращение к контейнеру
        &__item{
        // Внешний отступ снизу
        margin-bottom: 1.5rem;
        }
    }
}
//*========================================================================================================================================================
//TODO========================================================================================================================================================
//!========================================================================================================================================================
